
<suite name="FC_IOS_App_Automation_Suite">
	<listeners>
		<listener
			class-name="com.fc.india.web.listeners.TestListener" />
	</listeners>

	<test thread-count="5" name="Fc_India_Desktop_Login_Test">
		<classes>
			      <class name="com.fc.india.web.tests.Fc_India_chatbot_Login_Test"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
